@{
    ViewData["Title"] = "Podcast";
}

<body>
    <h1>My Podcasts<h1>
        <br />
    <h5>Check out BaconSale <a href="https://baconsale.com/">here</a></h5>
    <p>A Hickory-Smoked Pop Culture Podcast</p>

</body>